* {
  box-sizing: border-box;
}

.containMe,.character,.character2,.powerupBox{
  background-size: contain !important;
}

.playerOne {
  float: left;
  width: 48%;
  height: 600px;
  background-color: #C1DFF0;
  border: 30px 20px 5px;
  position: relative;
}

.cpuPlayer {
  float: right;
  width: 48%;
  height: 600px;
  background-color: #DBEBC0;
  position: relative;
}

/*.container {
  width: 80%;
  background-color: #C3B299;
  margin: 0 auto;
  height: 600px;
  position: absolute;
}*/

.resetContainer{
  position: absolute;
  left: 44%;
  top: 75%;
  height: 80px;
  width: 150px;
  z-index: 10;
  /*border: 1px solid black;*/
  margin: none!important;
}

.startContainer{
  position: absolute;
  left: 42.5%;
  top: 45%;
  height: 100px;
  width: 200px;
  z-index: 10;
  /*border: 1px solid black;*/
  margin: none!important;
}


.powerups{
  margin: 5px;
  position: absolute;
  display:block;
  bottom: 0;
  width: 550px;
  text-align: center;
}

header {
  width: 80%;
  height: 100px;
  border: 30px;
}

.healthBarBox {
  height: 40px;
  width: 40px;
  border: 3px;
  margin: 10px;
  display: inline-block;
  background-color: #FCFAFA;

}

.powerupBox {
  width: 80px;
  height: 80px;
  vertical-align: top;
  display: inline-block;
  margin: 7px 7px;
  padding: 20px;
}

.right {
  float: right;
}

.left {
  float:left;
}

.character{
  margin: 0 auto;
  text-align: center;
  width: 150px;
  height: 150px;
  /*background-color: cornsilk;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.character2{
  margin: 0 auto;
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: goldenrod;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.powerBar{

  width: 300px;
  height: 20px;
  margin: 10px;
  border: 3px solid #C3B299;
  position: relative;
  overflow: hidden;
}

.bar {
background: goldenrod;
width: 20%;
height: 14px;
position: relative;
overflow: hidden;
transition: width .5s linear;
}

.startButton{
  height:100px;
  width:200px;
  background-color: #FCFAFA;
  color: #C3B299;
  /*margin: 200px;*/
  position: absolute;
  z-index: 1;
}

Button{
  height:100px;
  width:150px;
  background-color: #FCFAFA;
  color: #C3B299;
  /*margin: 200px;*/
  position: absolute;
  z-index: 10;
  left: 42.5%;
  top: 45%;
  font-size: 30px;
  text-align:center;

}
div.powerupBox{
  cursor: pointer;
}

.message{
  font-weight: bold;
  z-index: 2;
  position:absolute;
  text-align: center;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.message {

}
