* {
  box-sizing: border-box;
}


#under-reconstruction  {
    position:absolute;
    left:0;
    top:0;
    background: rgba(255,255,255,.5);
    width:100%;
    height:100%;
    font-family: "Permanent Marker";
}

.img {
  z-index: -1;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  margin-top: -224px;
}

.p {
    z-index: 11;
    font-size: 18px;
}

.reconstruction-message {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.containMe,.character,.character2,.powerupBox{
  background-size: contain !important;
}

body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

main {
  margin: 0 auto;
  width: 1000px;
}

h1 {
  text-align: center;
  font-size: 125px;
  margin: 10px;
  font-weight: 900;
  letter-spacing: 14px;
}

.playerOne {
  position: relative;
  float: left;
  width: 50%;
  height: 600px;
  background-color: #C1DFF0;
}

.cpuPlayer {
  position: relative;
  float: right;
  width: 50%;
  height: 600px;
  background-color: #DBEBC0;
}

.resetContainer{
  position: absolute;
  left: 44%;
  top: 75%;
  height: 80px;
  width: 150px;
  z-index: 10;
  margin: none!important;
}

.startContainer{
  position: absolute;
  left: 42.5%;
  top: 45%;
  height: 100px;
  width: 200px;
  z-index: 10;
  margin: none!important;
}

.powerups{
  position: absolute;
  bottom: 0;
  left: 10%;
  margin: 5px;
  text-align: center;
}

header {
  width: 80%;
  height: 100px;
  border: 30px;
}

.healthBarBox {
  height: 40px;
  width: 40px;
  border: 3px;
  margin: 10px;
  display: inline-block;
  background-color: #FCFAFA;

}

.powerupBox {
  width: 80px;
  height: 80px;
  vertical-align: top;
  display: inline-block;
  margin: 7px 7px;
  padding: 20px;
}

.character{
  margin: 0 auto;
  text-align: center;
  width: 150px;
  height: 150px;
  /*background-color: cornsilk;*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.character2{
  margin: 0 auto;
  text-align: center;
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.powerBar{
  width: 300px;
  height: 20px;
  margin: 10px auto;
  border: 3px solid #C3B299;
  position: relative;
  overflow: hidden;
}

.bar {
  text-align: center;
  background: goldenrod;
  width: 20%;
  height: 14px;
  position: relative;
  overflow: hidden;
  transition: width .5s linear;
}

button{
  width: 1000px;
  height: 70px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 600;
  font-size: 40px;
  background: #EEE;
  color: #333;
  border: none;
}

div.powerupBox{
  cursor: pointer;
}

.message{
  width: 1000px;
  height: 70px;
  background: #EEE;
  margin: 0 auto;
  text-align: center;
  color: #333;
  font-size: 60px;
}
